<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Кредиты</title>
    <link rel="stylesheet" type="text/css" href="https://getbootstrap.com/1.0.0/assets/css/bootstrap-1.0.0.min.css">
    <style>
        body { padding-top: 70px; }
    </style>
</head>
<body>

<div class="topbar-wrapper" style="z-index: 5;">
    <div class="topbar">
        <div class="container fixed">
            <h3><a class="logo" href="/start">Тест-банк</a></h3>
            <ul>
                <li><a href="/checking/all">Счета</a></li>
                <li><a href="">Карты</a></li>
                <li><a href="/pay/all">Платежи</a></li>
                <li class="active"><a href="/loans/all">Кредиты</a></li>
                <li><a href="/log/all">История</a></li>
            </ul>
        </div>
    </div>
</div>

<h1>Кредиты</h1>
<h2 th:if="${#lists.isEmpty(lAccounts)}">Кредитов нет!</h2>
<table th:unless="${#lists.isEmpty(lAccounts)}">
    <thead>
    <tr>
        <td>Номер счёта</td>
        <td>Сумма долга</td>
        <td>Стартовая сумма</td>
        <td>Выплачено</td>
        <td>Ставка</td>
        <td>Начислено %</td>
        <td>Штрафы</td>
        <td>Дата следующего платежа</td>
    </tr>
    </thead>

    <tbody>
    <tr th:each="acc: ${lAccounts}">
        <td th:text="${acc.getId()}">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</td>
        <td th:text="${acc.getOutstandingAmount().toString()}">over 9000</td>
        <td th:text="${acc.getInitialAmount().toString()}">over 9000</td>
        <td th:text="${acc.getRepaidAmount().toString()}">$300</td>
        <td th:text="${acc.getInterestRate().toString()}">0%</td>
        <td th:text="${acc.getAccumulatedInterest().toString()}">0%</td>
        <td th:text="${acc.getAccumulatedPenalties().toString()}">0%</td>
        <td th:text="${acc.getNextPaymentDueDate().toString()}">ещё вчера</td>
    </tr>
    </tbody>

</table>
<a href="/loans/new">Заявка на кредит</a>
</body>
</html>