<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Кредиты</title>
</head>
<body>
<h1>Кредиты</h1>
<h2 th:if="${#lists.isEmpty(lAccounts)}">Кредитов нет!</h2>
<table th:unless="${#lists.isEmpty(lAccounts)}">
    <thead>
    <tr>
        <td>Номер счёта</td>
        <td>Общая сумма</td>
        <td>Выплачено</td>
        <td>Ставка</td>
        <td>Дата следующего платежа</td>
    </tr>
    </thead>

    <tbody>
    <tr th:each="acc: ${lAccounts}">
        <td th:text="${acc.getId()}">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</td>
        <td th:text="${acc.getInitialAmount().toString()}">over 9000</td>
        <td th:text="${acc.getRepaidAmount().toString()}">$300</td>
        <td th:text="${acc.getInterestRate().toString()}">0%</td>
        <td th:text="${acc.getNextPaymentDueDate().toString()}">ещё вчера</td>
    </tr>
    </tbody>

</table>
<a href="">Заявка на кредит</a>
</body>
</html>