<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Кредиты</title>
    <link rel="stylesheet" type="text/css" href="https://getbootstrap.com/1.0.0/assets/css/bootstrap-1.0.0.min.css">
</head>

<body>

<div class="topbar-wrapper" style="z-index: 5;">
    <div class="topbar">
        <div class="container fixed">
            <h3><a class="logo" href="/start">Тест-банк</a></h3>
            <ul>
                <li><a href="/checking/all">Счета</a></li>
                <li><a href="">Карты</a></li>
                <li><a href="/pay/all">Платежи</a></li>
                <li class="active"><a href="/loans/all">Кредиты</a></li>
                <li><a href="/log/all">История</a></li>
            </ul>
        </div>
    </div>
</div>

<h1>Заявка на кредит</h1>
<form action="/loan/new" th:object="${req}" method="POST" enctype="utf8">
    <div>
        <label>Сумма</label>
        <input th:field="*{requestedSum}"/>
    </div>
    <div>
        <label>Срок в месяцах</label>
        <input th:field="*{requestedTerm}"/>
    </div>
    <div>
        <label>Пол</label>
        <select th:field="*{gender}">
            <option th:each="dropValue: ${allGenders}"
                    th:value="${dropValue}"
                    th:text="${dropValue}"></option>
        </select>

    </div>
    <div>
        <label>Возраст</label>
        <input th:field="*{age}"/>
    </div>
    <div>
        <label>Сколько лет вы живёте в своём городе?</label>
        <input th:field="*{yearsOfLivingInASinglePlace}"/>
    </div>

    <div>
        <label>Уровень риска профессии</label>
        <input th:field="*{jobRiskLevel}"/>
        <select th:field="*{jobRiskLevel}">
            <option th:each="dropValue: ${allRiskLevels}"
                    th:value="${dropValue}"
                    th:text="${dropValue}"></option>
        </select>
    </div>

    <div>
        <label>Вы владеете недвижимостью?</label>
        <input type="checkbox" th:field="*{hasRealty}"/>
    </div>
    <div>
        <label>У вса есть полис ДМС?</label>
        <input type="checkbox" th:field="*{hasInsurance}"/>
    </div>

    <div>
        <label>У вас есть счета в других банках?</label>
        <input type="checkbox" th:field="*{hasBankAccounts}"/>
    </div>

    <div>
        <label>Ваш работодатель - государственное учреждение?</label>
        <input th:field="*{isWorkingInSocField}"/>
    </div>
    <div>
        <label>Рабочий стаж (годы):</label>
        <input th:field="*{workExperience}"/>
    </div>
    <div>
        <label>Зарплата:</label>
        <input th:field="*{workIncome}"/>
    </div>

    <button type="submit">submit</button>
</form>
</body>
</html>