<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://getbootstrap.com/1.0.0/assets/css/bootstrap-1.0.0.min.css">
    <title>История операций</title>
</head>
<body>

<div class="topbar-wrapper" style="z-index: 5;">
    <div class="topbar">
        <div class="container fixed">
            <h3><a class="logo" href="/start">Тест-банк</a></h3>
            <ul>
                <li><a href="/checking/all">Счета</a></li>
                <li><a href="">Карты</a></li>
                <li><a href="/pay/all">Платежи</a></li>
                <li><a href="/loans/all">Кредиты</a></li>
                <li class="active"><a href="/log/all">История</a></li>
            </ul>
        </div>
    </div>
</div>

<h1>История операций</h1>
<h2 th:if="${#lists.isEmpty(entries)}">Операций нет!</h2>
<table th:unless="${#lists.isEmpty(entries)}">
    <thead>
    <tr>
        <td>Номер счёта</td>
        <td>Дата</td>
        <td>Тип операции</td>
        <td>Сумма</td>
        <td>Информация</td>
    </tr>
    </thead>

    <tbody>
    <tr th:each="e: ${entries}">
        <td th:text="${e.getAccountId()}">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</td>
        <td th:text="${e.getDate().toString()}">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</td>
        <td th:text="${e.getOperationType().getValue()}">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</td>
        <td th:text="${e.getAmount()}">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</td>
        <td th:text="${e.getPaymentData()}">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</td>
    </tr>
    </tbody>

</table>
</body>
</html>