<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://getbootstrap.com/1.0.0/assets/css/bootstrap-1.0.0.min.css">
    <title>Платежи</title>
    <style>
        body { padding-top: 70px; }
    </style>
</head>
<body>

<div class="topbar-wrapper" style="z-index: 5;">
    <div class="topbar">
        <div class="container fixed">
            <h3><a class="logo" href="/start">Тест-банк</a></h3>
            <ul>
                <li><a href="/checking/all">Счета</a></li>
                <li><a href="/cards/all">Карты</a></li>
                <li class="active"><a href="/pay/all">Платежи</a></li>
                <li><a href="/loans/all">Кредиты</a></li>
                <li><a href="/log/all">История</a></li>
            </ul>
        </div>
    </div>
</div>

<h1>Платежи и сервисы</h1>
<h2 th:if="${#lists.isEmpty(providers)}">Нет доступных платежей!</h2>
<table th:unless="${#lists.isEmpty(providers)}">
    <thead>
    <tr>
        <td>Название</td>
        <td>Мин. сумма</td>
        <td>Макс. сумма</td>
        <td>Комиссия</td>
    </tr>
    </thead>

    <tbody>
    <tr th:each="p: ${providers}">
        <td>
            <a th:href="${'to/' + p.getClass().getName() + '/prepare'}"
               th:text="${p.getName()}">name goes here</a>
        </td>
        <td th:text="${p.getMinAmount().toString()}">min am</td>
        <td th:text="${p.getMaxAmount().toString()}">max am</td>
        <td th:text="${p.getFee()}">fee %</td>
    </tr>
    </tbody>

</table>
</body>
</html>