<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<h1>Подтверждение</h1>
<div th:object="${draft}">
    <div>
        <label>Название</label>
        <p th:text="*{getProvider()}"></p>
    </div>
    <div>
        <label>Номер счёта</label>
        <p th:text="*{getData()}"></p>
    </div>
    <div>
        <label>Сумма платежа</label>
        <p th:text="*{getAmount()}"></p>
    </div>
    <div>
        <label>Комиссия</label>
        <p th:text="*{getFee()}"></p>
    </div>
    <div>
        <u>
        <label>Итого</label>
        <p th:text="*{getTotal()}"></p>
        </u>
    </div>
</div>
<form action="process" th:object="${draft}" method="POST" enctype="utf8">
    <button type="submit">Подтвердить</button>
</form>
</body>
</html>